{% extends 'base.html' %}
{% block body %}
{% if proder %}
{% for p,o in proder %}
<div class="card" style="width: 18rem;margin:20px;display:inline-block;" xmlns:order="http://www.w3.org/1999/xhtml">
  <img src="{{p.pro_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{p.pro_name}}</h5>
    <p class="card-text">{{p.pro_price}}$</p>
    <p class="card-text">{{o.order_size}}</p>

    <a href="{% url 'order:delorder' o.id %}"class="btn btn-danger"> Delete</a>
  </div>
</div>
{% endfor %}
<div style="background-color:green;text-align:right;padding:20px;">
  <form action="" method="post">
    {% csrf_token %}
    <button class="btn btn-success" style="padding:10px;margin-right:20px;">Buy</button>
  </form>
<a href="#" class="btn btn-primary" style="padding:10px;margin-right:20px;">Cost of all products : {{all_pay}}$</a>
</div>
{% else %}
<p style="text-align:center"> your order cart is empty </p>
{% endif %}


<br>
<hr>
<br>
<h3>products that you paid and are in way to you</h3>
{% if paid_pro%}
{% for x in paid_pro %}
<div class="card" style="width: 18rem;margin:20px;display:inline-block;" xmlns:order="http://www.w3.org/1999/xhtml">
  <div class="card-body">
    <h5 class="card-title">{{x.pro_orders}}</h5>
    <p class="card-text">{{x.order_sizes}}$</p>
  </div>
</div>
{% endfor %}
{% endif%}
{% endblock %}
