<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>


          <!-- shoes part -->


          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Shoes</a></li>
            <ul>
              <li><a>men's Shoes</a></li>
              <ul><li><a>sport shoes</a></li>
                  <li><a>formal shoes</a></li>
              </ul>

              <li><a>Women's Shoes</a></li>
              <ul>
                <li>sport shoes</li>
                <li>formal shoes</li>
              </ul>
              <li><a>Children's shoes</a></li>
            </ul>


            <li class="dropdown-divider"></li>

            <!-- dress part -->



            <li><a class="dropdown-item" href="#">Clothes</a></li>
            <ul>
              <li><a class="dropdown-item" href="#">Men's clothes</a></li>
              <li><a class="dropdown-item" href="#">Men's pants</a></li>
              <li><a class="dropdown-item" href="#">Women's clothes</a></li>
              <li><a class="dropdown-item" href="#">Women's pants</a></li>
            </ul>


            <!-- watch part -->
            <li class="dropdown-divider"></li>


            <li><a class="dropdown-item" href="#">Watches</a></li>
            <ul>
              <li><a>men's watch</a></li>
              <li><a>women's watch</a></li>
            </ul>

            <!-- backpack part -->
            <li class="dropdown-divider"></li>


            <li><a class="dropdown-item" href="#">Backpacks</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your cart</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>